<section>
	<h2>Član</h2>

	<input type="hidden" ng-init="a.id='a'+$index" ng-model="a.id" />

	<div class="field">
		<label>Naslov člana</label>
		<div class="input">
			<input type="text" name="article_title" ng-model="a.title" />
		</div>
	</div>

	<div class="field">
		<label>Oznaka člana</label>
		<div class="input">
			<input type="text" name="label" ng-model="a.label" required />
			<span ng-show="snForm.label.$touched && snForm.label.$invalid">Oznaka je obavezno polje</span>
		</div>
	</div>

	<div class="field">
		<label>Sadržaj</label>
		<div class="input">
			<textarea ng-model="a.content.content[0]"></textarea>
		</div>
	</div>
</section>